@model GetByIdQuoteDto
@*
_DefaultQuoteComponent
*@

<section id="quotation" class="align-center pb-5 mb-5">
	<div class="section-header align-center">
		<h2 class="section-title">𓆞 𓆝 𓆟  Günün Sözü   𓆝 𓆟 𓆞 </h2>
	</div>
		<blockquote data-aos="fade-up">
			<q>
				@Model.Sentence
			</q>
			<div class="author-name">@Model.Author</div>
		</blockquote>
</section>