@model List<ResultProductDto>
@{
    ViewData["Title"] = "Kitaplar";
    ViewData["Title2"] = "Kitap Listesi";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="container text-center">
    <br /><br />
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Stok Miktarı</th>
            <th>Fiyat</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductPrice</td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sİl</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Product/CreateProduct/" class="btn btn-primary">Yenİ Kİtap Gİrİşİ</a>
</div>
