@model List<UserEmail>
@{
    ViewData["Title"] = "Abonelikler ve Mailler";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.js"></script>


@{
    int count = 0;
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Başarıyla Gönderildi!',
            text: '@Html.Raw(TempData["SuccessMessage"])',
            showConfirmButton: true,   // Buton gösteriliyor
            confirmButtonText: 'Tamam',  // Butonun metni
            timer: null  // Otomatik kapanma özelliği devre dışı bırakılıyor
        });
    </script>
}

@if (TempData["FailMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Hata!',
            text: '@Html.Raw(TempData["FailMessage"])',
            showConfirmButton: true,   // Buton gösteriliyor
            confirmButtonText: 'Tamam',  // Butonun metni
            timer: null  // Otomatik kapanma özelliği devre dışı bırakılıyor
        });
    </script>
}


<div class="container text-center">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Email Adresi</th>
            <th>İşlemler</th>
            <th>Abonelik</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.EmailAddress</td>
                <td>
                    <a href="/UserEmail/DeleteEmail/@item.UserEmailId" class="btn btn-danger">Sİl</a>
                    <a href="/UserEmail/UpdateEmail/@item.UserEmailId" class="btn btn-success">Güncelle</a>
                    <td>
                    <form method="post" action="/UserEmail/SendMail/@item.UserEmailId">
                        <button type="submit" class="btn btn-primary">Maİl Gönder</button>
                    </form>
                </td>


                </td>
            </tr>
        }
    </table>
    <a href="/UserEmail/CreateEmail/" class="btn btn-primary">Yeni Maİl Kaydet</a>

</div>
