@model UserEmail
@{
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container text-center">
        <br /> <br />
        <input type="hidden" asp-for="UserEmailId" class="form-control" />
        <label>Email Adresi</label>
        <input type="text" asp-for="EmailAddress" class="form-control" />
        <br />
        <button class="btn btn-primary">Email Güncelle</button>
    </div>
</form>
