@model CreateQuoteDto
@{
    ViewData["Title"] = "Alıntılar";
    ViewData["Title2"] = "Alıntı Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container text-center">
    <br /><br />
    <form method="post">
        <label>Alıntı</label>
        <input type="text" asp-for="Sentence" class="form-control" />
        <br />
        <label>Yazar</label>
        <input type="int" asp-for="Author" class="form-control" />
        <br />
        <button class="btn btn-primary">Alıntı Ekle</button>
    </form>
</div>
