@model List<ResultQuoteDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Alıntı</th>
            <th>Yazarı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.QuoteId</td>
                <td>@item.Sentence</td>
                <td>@item.Author</td>
                <td><a href="/Quote/DeleteQuote/@item.QuoteId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Quote/UpdateQuote/@item.QuoteId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Quote/CreateQuote/" class="btn btn-primary">Yeni Alıntı Girişi</a>
</div>
