@model List<ResultQuoteDto>
@{
    ViewData["Title"] = "Alıntılar";
    ViewData["Title2"] = "Alıntı Listesi";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}


<div class="container text-center">
    <br /><br />
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Alıntı</th>
            <th>Yazarı</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.QuoteId</td>
                <td>@item.Sentence</td>
                <td>@item.Author</td>
                <td>
                    <a href="/Quote/UpdateQuote/@item.QuoteId" class="btn btn-success">Güncelle</a>
                    <a href="/Quote/DeleteQuote/@item.QuoteId" class="btn btn-danger">Sİl</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Quote/CreateQuote/" class="btn btn-primary">Yenİ Alıntı GİRİŞİ </a>
</div>
