@*
_AdminComponentsBreadCrumbs
*@
<nav aria-label="breadcrumb">
    <br />
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <!-- Home Icon -->
        <li class="breadcrumb-item text-lg">
            <a class="opacity-5 text-dark" href="/Dashboard/Index">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item text-lg text-dark active" aria-current="page">
            @if (ViewData["Title2"] == null)
            {
                @ViewData["Title"]
            }
            else
            {
                @Html.Raw(ViewData["Title"] + " / " + ViewData["Title2"])
            }
        </li>
    </ol>
    <br />
</nav>

<div class="btn-group">
    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        DİL SEÇENEĞİ
    </button>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Dashboard" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                <i class="flag-icon flag-icon-gb"></i> English
            </a>
        </li>
        <li>
            <a asp-controller="Dashboard" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="dropdown-item">
                <i class="flag-icon flag-icon-tr"></i> Türkçe
            </a>
        </li>
    </ul>
</div>

