@using BookStore.WebUI.Dtos.CategoryDtos
@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Kategoriler";
    ViewData["Title2"] = "Kategori Listesi";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}
<div class="container text-center">
    <br/ ><br />
    <table class="table table-striped table-hover">
        <tr>
           <th>#</th>
           <th>Kategori Adı</th>
           <th>İşlemler</th>
        </tr>
        @foreach(var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.CategoryName</td>
                <td>
                    <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sİl</a> 
                    <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">GÜncelle</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory/" class="btn btn-primary">Yenİ Kategorİ Gİrİşİ</a>
</div>

