@model UpdateCategoryDto
@{
    ViewData["Title"] = "Kategoriler";
    ViewData["Title2"] = "Kategori Güncelle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="container text-center">
    <br /><br />
    <form method="post">
        <table class="table table-bordered table-striped w-50 mx-auto">
            <tr>
                <th class="text-end align-middle" style="width: 30%;">Kategori Adı</th>
                <td>
                    <input type="hidden" asp-for="CategoryId" />
                    <input type="text" asp-for="CategoryName" class="form-control" placeholder="Yeni kategori adını girin" required />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                    <a href="/Category/CategoryList" class="btn btn-secondary">Gerİ Dön</a>
                </td>
            </tr>
        </table>
    </form>
</div>
