@model CreateGeneralInfoDto
@{
    ViewData["Title"] = "Genel Bilgiler";
    ViewData["Title2"] = "Genel Bilgi Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="container text-center">
    <br /><br />
    <form method="post">
        <label><strong>Email</strong></label>
        <input type="text" asp-for="Email" class="form-control" />
        <br />
        <label><strong>Adres</strong></label>
        <input type="text" asp-for="Adress" class="form-control" />
        <br />
        <label><strong>Tel No</strong></label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
        <br />
        <label><strong>Hakkımızda</strong></label>
        <input type="text" asp-for="AboutUsContent" class="form-control" />
        <br />
        <label><strong>Sosyal Medya Linki</strong></label>
        <input type="text" asp-for="SocialMedia" class="form-control" />
        <br />
        <label><strong>Sipariş Takip Linki</strong></label>
        <input type="text" asp-for="FollowOrder" class="form-control" />
        <br />
        <button class="btn btn-primary">Genel BİLGİ Ekle</button>
    </form>
</div>

