@model List<ResultGeneralInfoDto>
@{
    ViewData["Title"] = "Genel Bilgiler";
    ViewData["Title2"] = "Genel Bilgiler Listesi";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="container text-center">
    <br /><br />
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Adres</th>
            <th>Tel No</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>#</th>
                <td>@item.Email</td>
                <td>@item.Adress</td>
                <td>@item.PhoneNumber</td>
                <td><a href="/GeneralInfo/DeleteGeneralInfo/@item.GeneralInfoId" class="btn btn-danger">Sİl</a></td>
                <td><a href="/GeneralInfo/UpdateGeneralInfo/@item.GeneralInfoId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/GeneralInfo/CreateGeneralInfo" class="btn btn-primary">Yenİ Bİlgİ GİrİŞİ</a>
</div>
