@model List<GeneralInfo>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Adres</th>
            <th>Tel No</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>#</th>
                <td>@item.Email</td>
                <td>@item.Adress</td>
                <td>@item.PhoneNumber</td>
                <td><a href="/GeneralInfo/DeleteInfo/@item.GeneralInfoId" class="btn btn-danger">Sil</a></td>
                <td><a href="/GeneralInfo/UpdateInfo/@item.GeneralInfoId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/GeneralInfo/CreateInfo/" class="btn btn-primary">Yeni Alıntı Girişi</a>
</div>
