@model GetByIdProductDto
@*
_DefaultBestSellingComponent
*@

<section id="best-selling" class="leaf-pattern-overlay">
	<div class="corner-pattern-overlay"></div>
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-8">

				<div class="row d-flex align-items-center">

					<div class="col-md-6">
						<figure class="products-thumb">
							<img src="@Model.ImageUrl" style="width:350px;height:500px" alt="book" class="single-image">
						</figure>
					</div>

					<div class="col-md-6">
						<div class="product-entry">
							<h2 class="section-title divider">Günün Kitabı `♡´</h2>

							<div class="products-content">
								<div class="author-name">@Model.AuthorName</div>
								<h3 class="item-title">@Model.ProductName</h3>
								<p>
									@{
										int maxLength = 400;
										string description = Model.Description;
									}

									@if (description.Length > maxLength)
									{
										int lastSpaceIndex = description.LastIndexOf(" ", maxLength);
										if (lastSpaceIndex > 0)
										{
											description = description.Substring(0, lastSpaceIndex) + "...";
										}
										else
										{
											description = description.Substring(0, maxLength) + "...";
										}
									}
									@description
								</p>
								<div class="item-price">₺ @Model.ProductPrice</div>
								<div class="btn-wrap">
									<a href="#" class="btn-accent-arrow">
										Sepete Ekle <i class="icon icon-ns-arrow-right"></i>
									</a>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- / row -->
			</div>
		</div>
	</div>
</section>